section(id="artists")
  div(class="page-header")
    h1 Artists
  div(class="row")
    div(class="span8")
      div(id="message")
      label
        h3 Search artist news 
      script(type="text/x-handlebars")
        {{view Artwist.SearchArtistsView id="search" class="span8" placeholder="Search artists info..."}}
      span(class="help-block") You should type 5 artists names separated by "," (comma)

  script(type="text/x-handlebars")
    | {{#collection contentBinding="Artwist.ArtistController" tagName="div" class="row"}}
    |   <div class="span4">
    |     <h2>{{content.name}}</h2>
    |     {{#if content.news}}
    |       <h4>
    |         <a {{bindAttr href="content.news.url" }}>{{content.news.title}}</a>
    |       </h4>
    |       <p>{{{content.news.summary}}}</p>
    |     {{else}}
    |       <div class="alert">No news for this artist. The name you search for might be wrong!</div>
    |     {{/if}}
    |   </div>
    | {{/collection}}
